html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: none;
  background-color: #171717;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.pagetitle {
  position: absolute;
  width: 80%;
  top: 10%;
  left: 10%;
  font-size: 5em;
  color: white;
}

.titletext {
  position: absolute;
  width: 100%;
  text-align: center;
}
