html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: none;
  background-color: #748CAB;
  overflow: hidden;
  /*font-family: Arial, Helvetica, sans-serif;
  color: white;*/
}

/*
.checksizes {
  position: absolute;
  border: solid purple;
  width: 110px;
  height: 300px;
  top: 67%;
  left: 10%;
}
*/

.toplogo {
  position: absolute;
  left: 2.5%;
  font-family: 'Herr Von Muellerhoff', cursive;
  font-size: 4em;
  color: black;
  font-weight: 700;
}

.material-icons.whi {
  position: absolute;
  left: 95%;
  color: black;
  opacity: 0.5;
  cursor: pointer;
}


.navbox {
  position: absolute;
  width: 7.5%;
  top: 3%;
  left: 80%;
  font-size: 1em;
  color: black;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  cursor: pointer;
}

.navtext {
  position: absolute;
  width: 100%;
}

.inframe {
  position: absolute;
  width: 80%;
  height: 80%;
  top: 10%;
  left: 10%;
  background-color: #F0EBD8;
}

.pagetextbig {
  position: absolute;
  width: 40%;
  max-width: 420px;
  top: 30%;
  left: 10%;
  font-size: 3em;
  color: black;
  opacity: 0.75;
  font-family: 'Playfair Display', serif;
}

.pagetextsmall {
  position: absolute;
  width: 20%;
  max-width: 250px;
  min-width: 100px;
  top: 67%;
  left: 10%;
  font-size: 0.75em;
  color: black;
  opacity: 0.5;
  font-family: 'Roboto', sans-serif;
}

.titletext {
  position: absolute;
  width: 100%;
}

.ctabutton {
  position: absolute;
  width: 8%;
  min-width: 110px;
  left: 6%;
  top: 80%;
  font-size: 1em;
  font-weight: 200;
  text-align: center;
  cursor: pointer;
}

.btext {
  position: absolute;
  width: 100%;
  border: solid #FF331F;
  color: #FF331F;
  border-radius: 2em;
  border-width: 0.05em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
